[Unit]
Description = gfw2udp service
After = syslog.target network-online.target

[Service]
Type = simple
User = root
ExecStart = /usr/local/bin/gfw2udp_amd64 -c -l 185.105.236.133:8443  -r 65.21.4.49:4096 -k "D(G+KbPeShVmYq3t6v9y$B&E)H@McQfT" --raw-mode icmp -a
ExecReload = /bin/kill -HUP
ExecStop = /bin/kill -s QUIT PrivateTmp = true
Restart = on-failure

[Install]
WantedBy = multi-user.target
